@import "variables";

.chem-element {
    display: inline-block;
    background: rgba(255, 163, 163, .09);
    border-radius: .25em;
    box-shadow: 0 0 0.1em 0.1em rgba(0, 0, 0, .05);
    color: $text-color;
    line-height: 0.7em;
    padding: .30em .20em .15em .2em;
    margin-right: .1em;
    transition-duration: 500ms;

    &:hover {
        transform: scale(1.1, 1.1);
        box-shadow: 0 0 0.2em 0.2em rgba(255, 255, 255, .05);
    }

    &[element=potassium]:before {
        content: '19';
        font-size: .45em;
        vertical-align: -.5em;
    }
    &[element="potassium"]:hover {
        background: rgba(190, 161, 157, 0.45);
    }
}
