@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/unsemantic/assets/sass/unsemantic-grid-responsive.scss";
@import "header.scss";
@import "identities.scss";
@import "chem-elements.scss";

body {
    font-size: 1em;
    margin: 0;
}

html {
    //background: url('../images/nat-pants.png');

    background-color: whitesmoke;
    background-image: repeating-linear-gradient(135deg,
        rgba(157, 150, 192, 0.5) 0px, rgba(157, 150, 192, 0.5) 35px,
        //rgba(19, 19, 28, 0.5) 35px, rgba(19, 19, 28, 0.5) 36px,
        rgba(199, 195, 220, 0.5) 36px, rgba(199, 195, 220, 0.5) 70px
    ), repeating-linear-gradient(45deg,
            rgba(157, 150, 192, 0.5) 0px, rgba(157, 150, 192, 0.5) 35px,
            //rgba(19, 19, 28, 0.5) 35px, rgba(19, 19, 28, 0.5) 36px,
            rgba(199, 195, 220, 0.5) 36px, rgba(199, 195, 220, 0.5) 70px
    );

    font-family: "Helvetica Neue", Helvetica, Arial, PingFangTC-Light, "Microsoft YaHei", 微软雅黑, "STHeiti Light", STXihei, "华文细黑", Heiti, 黑体, sans-serif;
}

.copyright {
    background: #82629C;
    color: #ddd;
    font-size: 0.9em;
    line-height: 2em;
    padding: 0.5em 1em;
    clear: both;
}

.header .greeting .chem-element {
    text-decoration: none;
}

.host {
    background: #A890BC;
    color: #eee;
    font-size: 0.9em;
    font-weight: normal;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
}

.hosting {
    padding: 0.75em 1em;
    color: #eee;
    text-decoration: none;
}

.theme {
    float: right;
    margin-left: auto;
    margin-right: 0;
}

.hosting .link, .theme .link {
    color: #CEBFDA;
    text-decoration: none;
    transition: all 200ms;
}

.hosting .link:hover, .theme .link:hover {
    color: #e7d7f4;
    transition: all 200ms;
}

.main-container {
    margin: 0 auto;
    max-width: 64em;
}

.no-wrap {
    display: inline-block;
}

.section {
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.125);
    margin: 1em 0;
}

.identity .where {
    text-transform: capitalize;
}
